*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    filter: blur(100%);
    filter: brightness(70%);
    filter: drop-shadow(50%);
    filter: contrast(50%);
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.row{
    display: flex;
    height: 88%;
    width: 100%;
    align-items: center;
    color: white;
    margin-left: 20%;
    margin-top: 5%;
}
.col{
    flex-basis: 50%;
}

h1{
    margin-left: 40%;
    font-size: 50px;
}

p{
    margin-left: 40%;
}

button{
    width: 180px;
    color: rgb(11, 11, 11);
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 5px;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
    margin-left: 50%;
    cursor: pointer;
    transition: transform 0.5s;
    border-color: rgb(109, 169, 178);
}

button:hover{
    transform: translateY(-10px);
    border-color: #0f0f0f;
}

.card{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Images/images.png);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    text-align: center;
       
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    font-size: 40px;
    color: black;
    position: relative;
}



/*---------------------------Add Admin---------------------------*/


.second{
    background-image: url('Images/blue.png');
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    filter: blur(100%);
    filter: brightness(70%);
    filter: drop-shadow(50%);
    filter: contrast(50%);

}

.add{
    display: flex;
    height: 90%;
    color: rgb(0, 0, 0);
    margin-left: 40px;
    margin-top: 0;
}
.img{
    margin-left: 80%;
}

.add2{
    position: fixed;
    top: 35%;
    left: 60%;
    transform: translate(-50px, -50px);
    width: 400px;
    background-color: rgb(129, 201, 212);
    border-radius: 10px;

}
.add2 h2{
    text-align: center;
    margin-top: 20px;
    padding: 0 0 20px 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(246, 246, 246);
}
.add2 form{
    padding: 20px 80px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #ffffff;
    margin: 0px 0px;
    margin-top: 20px;
}

.txt_field input{
    width: 100%;
    padding: 0px 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #ffffff;
    transform: translate(-20%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;

}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 3px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -10px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(109, 169, 178);
    border-radius: 20px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

input[type="submit"]:hover{
    border-color: rgb(109, 169, 178);
    transition: .5s;
}



/*-------------------------Change Password-----------------------*/


.third{
    background-image: url('Images2/blue.png');
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    filter: blur(100%);
    filter: brightness(70%);
    filter: drop-shadow(50%);
    filter: contrast(50%);

}

.change{
    display: flex;
    height: 88%;
    color: rgb(0, 0, 0);
    margin-left: 60%;
    margin-top: 0;
}
.img{
    margin-left: 80%;
}
.change2{
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50px, -50px);
    width: 400px;
    background-color: rgb(54, 84, 88);
    border-radius: 10px;

}
.change2 h2{
    text-align: center;
    margin-top: 20px;
    padding: 0 0 20px 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(246, 246, 246);
}
.change2 form{
    padding: 20px 80px;
    box-sizing: border-box;
}

form .ctxt_field{
    position: relative;
    border-bottom: 2px solid #ffffff;
    margin: 0x 0px;
    margin-top: 20px;
}

.ctxt_field input{
    width: 100%;
    padding: 0px 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;    
}
.ctxt_field label{
    position: absolute;
    top: 50%;
    left: 10%;
    color: #ffffff;
    transform: translate(-20%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;

}
.ctxt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 3px;
    background: #3fd3d3;
    transition: .5s;
}

.ctxt_field input:focus ~ label,
.ctxt_field input:valid ~ label{
    top: -10px;
    color: #3fd3d3;
}
.ctxt_field input:focus ~ span::before,
.ctxt_field input:valid ~ span::before{
    width: 100%;
}
input[type="submit"]{
    text-align: center;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(109, 169, 178);
    border-radius: 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

input[type="submit"]:hover{
    border-color: rgb(54, 84, 88);
    transition: .5s;
}

:root {
    --main-color: #356fb4;
    --color-dark: #1D2231;
    --text-grey : #8398A2;
  }
  
  .sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
  }
  
  .sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
  }
  
  .sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
  }
  
  .sidebar-menu {
    margin-top: 1rem;
  }
  
  .sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
  }
  
  .sidebar-menu a {
    display: block;
    color : #fff;
    font-size: 1.1rem;
  }
  
  .sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
  }
  
  .sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  
  #nav-toggle:checked + .sidebar {
    width: 70px;
  }
  
  #nav-toggle:checked + .sidebar .sidebar-brand ,
  #nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }
  
  #nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
  }
  
  #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
  }
  
  #nav-toggle:checked ~ .main-content {
    margin-left: 70px;
  }
  
  #nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }
  
  .main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
  }
  
  header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
  }
  
  #nav-toggle {
    display: none;
  }
  
  header h2 {
    color: #222;
  }
  
  header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
  }
  
  .user-wrapper {
    display: flex;
    align-items: center;
  }
  
  .user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
  }